In [34]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [35]:
!wget -q https://archive.apache.org/dist/spark/spark-3.0.0/spark-3.0.0-bin-hadoop3.2.tgz

In [36]:
!tar xf spark-3.0.0-bin-hadoop3.2.tgz

In [37]:
!pip install -q findspark

In [38]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.0.0-bin-hadoop3.2"

In [39]:
import findspark
findspark.init()

In [40]:
findspark.find()

'/content/spark-3.0.0-bin-hadoop3.2/python/pyspark'

In [41]:
from pyspark.sql import SparkSession

spark = SparkSession.builder\
        .master("local")\
        .appName("Colab")\
        .config('spark.ui.port', '4050')\
        .getOrCreate()

# PySpark Data Source

1. Read CSV file into a Data Frame

In [42]:
df = spark.read.csv("/content/sample_data/california_housing_test.csv")
df.printSchema()
df.show(truncate=True)

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)

+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
|        _c0|      _c1|               _c2|        _c3|           _c4|        _c5|       _c6|          _c7|               _c8|
+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
|  longitude| latitude|housing_median_age|total_rooms|total_bedrooms| population|households|median_income|median_house_value|
|-122.050000|37.370000|         27.000000|3885.000000|    661.000000|1537.000000|606.000000|     6.608500|     344700.000000|
|-118.300000|34.260000|         43.000000|1510.000000|    310.000000| 809.000000|277.000000|     3.599000|     176500.000000|
|-117.810000|33.780000|         27.000000|3589.000000|    507.000000|1484.000000|495.000000|     5.793400|     270500.000000|
|-118.360000|33.820000|         28.000000|  67.000000|     15.000000|  49.000000| 11.000000|     6.135900|     330000.000000|
|-119.670000|36.330000|         19.000000|1241.000000|    244.000000| 850.000000|237.000000|     2.937500|      81700.000000|
|-119.560000|36.510000|         37.000000|1018.000000|    213.000000| 663.000000|204.000000|     1.663500|      67000.000000|
|-121.430000|38.630000|         43.000000|1009.000000|    225.000000| 604.000000|218.000000|     1.664100|      67000.000000|
|-120.650000|35.480000|         19.000000|2310.000000|    471.000000|1341.000000|441.000000|     3.225000|     166900.000000|
|-122.840000|38.400000|         15.000000|3080.000000|    617.000000|1446.000000|599.000000|     3.669600|     194400.000000|
|-118.020000|34.080000|         31.000000|2402.000000|    632.000000|2830.000000|603.000000|     2.333300|     164200.000000|
|-118.240000|33.980000|         45.000000| 972.000000|    249.000000|1288.000000|261.000000|     2.205400|     125000.000000|
|-119.120000|35.850000|         37.000000| 736.000000|    166.000000| 564.000000|138.000000|     2.416700|      58300.000000|
|-121.930000|37.250000|         36.000000|1089.000000|    182.000000| 535.000000|170.000000|     4.690000|     252600.000000|
|-117.030000|32.970000|         16.000000|3936.000000|    694.000000|1935.000000|659.000000|     4.562500|     231200.000000|
|-117.970000|33.730000|         27.000000|2097.000000|    325.000000|1217.000000|331.000000|     5.712100|     222500.000000|
|-117.990000|33.810000|         42.000000| 161.000000|     40.000000| 157.000000| 50.000000|     2.200000|     153100.000000|
|-120.810000|37.530000|         15.000000| 570.000000|    123.000000| 189.000000|107.000000|     1.875000|     181300.000000|
|-121.200000|38.690000|         26.000000|3077.000000|    607.000000|1603.000000|595.000000|     2.717400|     137500.000000|
|-118.880000|34.210000|         26.000000|1590.000000|    196.000000| 654.000000|199.000000|     6.585100|     300000.000000|
+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
only showing top 20 rows

**Using Header records for column names**

In [43]:
df1 = spark.read.option("header", True) \
.csv("/content/sample_data/california_housing_test.csv").show()

+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
|  longitude| latitude|housing_median_age|total_rooms|total_bedrooms| population| households|median_income|median_house_value|
+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
|-122.050000|37.370000|         27.000000|3885.000000|    661.000000|1537.000000| 606.000000|     6.608500|     344700.000000|
|-118.300000|34.260000|         43.000000|1510.000000|    310.000000| 809.000000| 277.000000|     3.599000|     176500.000000|
|-117.810000|33.780000|         27.000000|3589.000000|    507.000000|1484.000000| 495.000000|     5.793400|     270500.000000|
|-118.360000|33.820000|         28.000000|  67.000000|     15.000000|  49.000000|  11.000000|     6.135900|     330000.000000|
|-119.670000|36.330000|         19.000000|1241.000000|    244.000000| 850.000000| 237.000000|     2.937500|      81700.000000|
|-119.560000|36.510000|         37.000000|1018.000000|    213.000000| 663.000000| 204.000000|     1.663500|      67000.000000|
|-121.430000|38.630000|         43.000000|1009.000000|    225.000000| 604.000000| 218.000000|     1.664100|      67000.000000|
|-120.650000|35.480000|         19.000000|2310.000000|    471.000000|1341.000000| 441.000000|     3.225000|     166900.000000|
|-122.840000|38.400000|         15.000000|3080.000000|    617.000000|1446.000000| 599.000000|     3.669600|     194400.000000|
|-118.020000|34.080000|         31.000000|2402.000000|    632.000000|2830.000000| 603.000000|     2.333300|     164200.000000|
|-118.240000|33.980000|         45.000000| 972.000000|    249.000000|1288.000000| 261.000000|     2.205400|     125000.000000|
|-119.120000|35.850000|         37.000000| 736.000000|    166.000000| 564.000000| 138.000000|     2.416700|      58300.000000|
|-121.930000|37.250000|         36.000000|1089.000000|    182.000000| 535.000000| 170.000000|     4.690000|     252600.000000|
|-117.030000|32.970000|         16.000000|3936.000000|    694.000000|1935.000000| 659.000000|     4.562500|     231200.000000|
|-117.970000|33.730000|         27.000000|2097.000000|    325.000000|1217.000000| 331.000000|     5.712100|     222500.000000|
|-117.990000|33.810000|         42.000000| 161.000000|     40.000000| 157.000000|  50.000000|     2.200000|     153100.000000|
|-120.810000|37.530000|         15.000000| 570.000000|    123.000000| 189.000000| 107.000000|     1.875000|     181300.000000|
|-121.200000|38.690000|         26.000000|3077.000000|    607.000000|1603.000000| 595.000000|     2.717400|     137500.000000|
|-118.880000|34.210000|         26.000000|1590.000000|    196.000000| 654.000000| 199.000000|     6.585100|     300000.000000|
|-122.590000|38.010000|         35.000000|8814.000000|   1307.000000|3450.000000|1258.000000|     6.172400|     414300.000000|
+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
only showing top 20 rows

**Read Multiple CSV files**

`df = spark.read.csv("path1, path2, path3")`


`df = spark.read.csv("Folder path")`

In [44]:
df1 = spark.read.option("header", True,) \
.csv("/content/sample_data/california_housing_test.csv").show()

+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
|  longitude| latitude|housing_median_age|total_rooms|total_bedrooms| population| households|median_income|median_house_value|
+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
|-122.050000|37.370000|         27.000000|3885.000000|    661.000000|1537.000000| 606.000000|     6.608500|     344700.000000|
|-118.300000|34.260000|         43.000000|1510.000000|    310.000000| 809.000000| 277.000000|     3.599000|     176500.000000|
|-117.810000|33.780000|         27.000000|3589.000000|    507.000000|1484.000000| 495.000000|     5.793400|     270500.000000|
|-118.360000|33.820000|         28.000000|  67.000000|     15.000000|  49.000000|  11.000000|     6.135900|     330000.000000|
|-119.670000|36.330000|         19.000000|1241.000000|    244.000000| 850.000000| 237.000000|     2.937500|      81700.000000|
|-119.560000|36.510000|         37.000000|1018.000000|    213.000000| 663.000000| 204.000000|     1.663500|      67000.000000|
|-121.430000|38.630000|         43.000000|1009.000000|    225.000000| 604.000000| 218.000000|     1.664100|      67000.000000|
|-120.650000|35.480000|         19.000000|2310.000000|    471.000000|1341.000000| 441.000000|     3.225000|     166900.000000|
|-122.840000|38.400000|         15.000000|3080.000000|    617.000000|1446.000000| 599.000000|     3.669600|     194400.000000|
|-118.020000|34.080000|         31.000000|2402.000000|    632.000000|2830.000000| 603.000000|     2.333300|     164200.000000|
|-118.240000|33.980000|         45.000000| 972.000000|    249.000000|1288.000000| 261.000000|     2.205400|     125000.000000|
|-119.120000|35.850000|         37.000000| 736.000000|    166.000000| 564.000000| 138.000000|     2.416700|      58300.000000|
|-121.930000|37.250000|         36.000000|1089.000000|    182.000000| 535.000000| 170.000000|     4.690000|     252600.000000|
|-117.030000|32.970000|         16.000000|3936.000000|    694.000000|1935.000000| 659.000000|     4.562500|     231200.000000|
|-117.970000|33.730000|         27.000000|2097.000000|    325.000000|1217.000000| 331.000000|     5.712100|     222500.000000|
|-117.990000|33.810000|         42.000000| 161.000000|     40.000000| 157.000000|  50.000000|     2.200000|     153100.000000|
|-120.810000|37.530000|         15.000000| 570.000000|    123.000000| 189.000000| 107.000000|     1.875000|     181300.000000|
|-121.200000|38.690000|         26.000000|3077.000000|    607.000000|1603.000000| 595.000000|     2.717400|     137500.000000|
|-118.880000|34.210000|         26.000000|1590.000000|    196.000000| 654.000000| 199.000000|     6.585100|     300000.000000|
|-122.590000|38.010000|         35.000000|8814.000000|   1307.000000|3450.000000|1258.000000|     6.172400|     414300.000000|
+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
only showing top 20 rows

# Read & Write Parquet File

It is a columnar storage format that skips the non relevant data very quickly, making faster query execution

**Read Parquet File into a Data Frame**

In [58]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType
spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()
data1 = [("Smith", "Jone", "123", "M", 20000),
         ("Nance", "watch", "456", "F", 10000),
         ("Rani", "Singh", "234", "F", 30000),
         ("Raju", "Thomas", "897", "M", 15000),
         ("Ranjan", "Sharma", "862", "M", 25000)
]

schema = StructType([ \
    StructField("FirstName", StringType(), True), \
    StructField("LastName", StringType(), True), \
    StructField("Id", StringType(), True), \
    StructField("Gender", StringType(), True), \
    StructField("Salary", IntegerType(), True) \
])

df = spark.createDataFrame(data=data1, schema =schema)
df.printSchema()
df.show()

root
 |-- FirstName: string (nullable = true)
 |-- LastName: string (nullable = true)
 |-- Id: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Salary: integer (nullable = true)

+---------+--------+---+------+------+
|FirstName|LastName| Id|Gender|Salary|
+---------+--------+---+------+------+
|    Smith|    Jone|123|     M| 20000|
|    Nance|   watch|456|     F| 10000|
|     Rani|   Singh|234|     F| 30000|
|     Raju|  Thomas|897|     M| 15000|
|   Ranjan|  Sharma|862|     M| 25000|
+---------+--------+---+------+------+

Writing a Data Frame into a Parquet File

In [65]:
df.write.parquet("/content/peoples.parquet")

Reading the data frame into Parquet File

In [66]:
parDF = spark.read.parquet("/content/peoples.parquet")

In [67]:
parDF.show()

+---------+--------+---+------+------+
|FirstName|LastName| Id|Gender|Salary|
+---------+--------+---+------+------+
|    Smith|    Jone|123|     M| 20000|
|    Nance|   watch|456|     F| 10000|
|     Rani|   Singh|234|     F| 30000|
|     Raju|  Thomas|897|     M| 15000|
|   Ranjan|  Sharma|862|     M| 25000|
+---------+--------+---+------+------+

**Executing SQL queries**

Pyspark Sql provides to create temporary views on parquet files for executing sql queries. These views are available until your program exists.

In [69]:
parDF.createOrReplaceTempView("ParquetTable")
parkSQL = spark.sql("select * from ParquetTable where Salary >= 20000").show()

+---------+--------+---+------+------+
|FirstName|LastName| Id|Gender|Salary|
+---------+--------+---+------+------+
|    Smith|    Jone|123|     M| 20000|
|     Rani|   Singh|234|     F| 30000|
|   Ranjan|  Sharma|862|     M| 25000|
+---------+--------+---+------+------+

Creating a table on Parquet File

In [70]:
spark.sql("CREATE TEMPORARY VIEW PERSON USING parquet OPTIONS (path \"/content/peoples.parquet\")")
spark.sql("SELECT * FROM PERSON").show()

+---------+--------+---+------+------+
|FirstName|LastName| Id|Gender|Salary|
+---------+--------+---+------+------+
|    Smith|    Jone|123|     M| 20000|
|    Nance|   watch|456|     F| 10000|
|     Rani|   Singh|234|     F| 30000|
|     Raju|  Thomas|897|     M| 15000|
|   Ranjan|  Sharma|862|     M| 25000|
+---------+--------+---+------+------+

Create Parquet Partition file

In [71]:
df.write.partitionBy("Gender", "Salary").mode("overwrite").parquet("/content/peoples2.parquet")

Rerieving from a partitioned parquet

In [73]:
parDF2 = spark.read.parquet("/content/peoples2.parquet/Gender=M")
parDF2.show(truncate=False)

+---------+--------+---+------+
|FirstName|LastName|Id |Salary|
+---------+--------+---+------+
|Ranjan   |Sharma  |862|25000 |
|Raju     |Thomas  |897|15000 |
|Smith    |Jone    |123|20000 |
+---------+--------+---+------+

# Reading JSON File into DataFrame

In [75]:
df1 = spark.read.json("/zipcode.json")
df1.printSchema()
df1.show(truncate=False)

root
 |-- City: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Decommisioned: boolean (nullable = true)
 |-- EstimatedPopulation: long (nullable = true)
 |-- Lat: double (nullable = true)
 |-- Location: string (nullable = true)
 |-- LocationText: string (nullable = true)
 |-- LocationType: string (nullable = true)
 |-- Long: double (nullable = true)
 |-- Notes: string (nullable = true)
 |-- RecordNumber: long (nullable = true)
 |-- State: string (nullable = true)
 |-- TaxReturnsFiled: long (nullable = true)
 |-- TotalWages: long (nullable = true)
 |-- WorldRegion: string (nullable = true)
 |-- Xaxis: double (nullable = true)
 |-- Yaxis: double (nullable = true)
 |-- Zaxis: double (nullable = true)
 |-- ZipCodeType: string (nullable = true)
 |-- Zipcode: long (nullable = true)
 |-- _corrupt_record: string (nullable = true)

+-------------------+-------+-------------+-------------------+-----+----------------------------+-----------------------+--------------+-------+-------------+------------+-----+---------------+----------+-----------+-----+-----+-----+-----------+-------+---------------+
|City               |Country|Decommisioned|EstimatedPopulation|Lat  |Location                    |LocationText           |LocationType  |Long   |Notes        |RecordNumber|State|TaxReturnsFiled|TotalWages|WorldRegion|Xaxis|Yaxis|Zaxis|ZipCodeType|Zipcode|_corrupt_record|
+-------------------+-------+-------------+-------------------+-----+----------------------------+-----------------------+--------------+-------+-------------+------------+-----+---------------+----------+-----------+-----+-----+-----+-----------+-------+---------------+
|PARC PARQUE        |US     |false        |null               |17.96|NA-US-PR-PARC PARQUE        |Parc Parque, PR        |NOT ACCEPTABLE|-66.22 |null         |1           |PR   |null           |null      |NA         |0.38 |-0.87|0.3  |STANDARD   |704    |null           |
|PASEO COSTA DEL SUR|US     |false        |null               |17.96|NA-US-PR-PASEO COSTA DEL SUR|Paseo Costa Del Sur, PR|NOT ACCEPTABLE|-66.22 |null         |2           |PR   |null           |null      |NA         |0.38 |-0.87|0.3  |STANDARD   |704    |null           |
|BDA SAN LUIS       |US     |false        |null               |18.14|NA-US-PR-BDA SAN LUIS       |Bda San Luis, PR       |NOT ACCEPTABLE|-66.26 |null         |10          |PR   |null           |null      |NA         |0.38 |-0.86|0.31 |STANDARD   |709    |null           |
|CINGULAR WIRELESS  |US     |false        |null               |32.72|NA-US-TX-CINGULAR WIRELESS  |Cingular Wireless, TX  |NOT ACCEPTABLE|-97.31 |null         |61391       |TX   |null           |null      |NA         |-0.1 |-0.83|0.54 |UNIQUE     |76166  |null           |
|FORT WORTH         |US     |false        |4053               |32.75|NA-US-TX-FORT WORTH         |Fort Worth, TX         |PRIMARY       |-97.33 |null         |61392       |TX   |2126           |122396986 |NA         |-0.1 |-0.83|0.54 |STANDARD   |76177  |null           |
|FT WORTH           |US     |false        |4053               |32.75|NA-US-TX-FT WORTH           |Ft Worth, TX           |ACCEPTABLE    |-97.33 |null         |61393       |TX   |2126           |122396986 |NA         |-0.1 |-0.83|0.54 |STANDARD   |76177  |null           |
|URB EUGENE RICE    |US     |false        |null               |17.96|NA-US-PR-URB EUGENE RICE    |Urb Eugene Rice, PR    |NOT ACCEPTABLE|-66.22 |null         |4           |PR   |null           |null      |NA         |0.38 |-0.87|0.3  |STANDARD   |704    |null           |
|MESA               |US     |false        |26883              |33.37|NA-US-AZ-MESA               |Mesa, AZ               |PRIMARY       |-111.64|no NWS data, |39827       |AZ   |14962          |563792730 |NA         |-0.3 |-0.77|0.55 |STANDARD   |85209  |null           |
|MESA               |US     |false        |25446              |33.38|NA-US-AZ-MESA               |Mesa, AZ               |PRIMARY       |-111.84|null         |39828       |AZ   |14374          |471000465 |NA         |-0.31|-0.77|0.55 |STANDARD   |85210  |null           |
|HILLIARD           |US     |false        |7443               |30.69|NA-US-FL-HILLIARD           |Hilliard, FL           |PRIMARY       |-81.92 |null         |49345       |FL   |3922           |133112149 |NA         |0.12 |-0.85|0.51 |STANDARD   |32046  |null           |
|HOLDER             |US     |false        |null               |28.96|NA-US-FL-HOLDER             |Holder, FL             |PRIMARY       |-82.41 |null         |49346       |FL   |null           |null      |NA         |0.11 |-0.86|0.48 |PO BOX     |34445  |null           |
|HOLT               |US     |false        |2190               |30.72|NA-US-FL-HOLT               |Holt, FL               |PRIMARY       |-86.67 |null         |49347       |FL   |1207           |36395913  |NA         |0.04 |-0.85|0.51 |STANDARD   |32564  |null           |
|HOMOSASSA          |US     |false        |null               |28.78|NA-US-FL-HOMOSASSA          |Homosassa, FL          |PRIMARY       |-82.61 |null         |49348       |FL   |null           |null      |NA         |0.11 |-0.86|0.48 |PO BOX     |34487  |null           |
|BDA SAN LUIS       |US     |false        |null               |18.14|NA-US-PR-BDA SAN LUIS       |Bda San Luis, PR       |NOT ACCEPTABLE|-66.26 |null         |10          |PR   |null           |null      |NA         |0.38 |-0.86|0.31 |STANDARD   |708    |null           |
|SECT LANAUSSE      |US     |false        |null               |17.96|NA-US-PR-SECT LANAUSSE      |Sect Lanausse, PR      |NOT ACCEPTABLE|-66.22 |null         |3           |PR   |null           |null      |NA         |0.38 |-0.87|0.3  |STANDARD   |704    |null           |
|SPRING GARDEN      |US     |false        |null               |33.97|NA-US-AL-SPRING GARDEN      |Spring Garden, AL      |PRIMARY       |-85.55 |null         |54354       |AL   |null           |null      |NA         |0.06 |-0.82|0.55 |PO BOX     |36275  |null           |
|SPRINGVILLE        |US     |false        |7845               |33.77|NA-US-AL-SPRINGVILLE        |Springville, AL        |PRIMARY       |-86.47 |null         |54355       |AL   |4046           |172127599 |NA         |0.05 |-0.82|0.55 |STANDARD   |35146  |null           |
|SPRUCE PINE        |US     |false        |1209               |34.37|NA-US-AL-SPRUCE PINE        |Spruce Pine, AL        |PRIMARY       |-87.69 |null         |54356       |AL   |610            |18525517  |NA         |0.03 |-0.82|0.56 |STANDARD   |35585  |null           |
|ASH HILL           |US     |false        |1666               |36.4 |NA-US-NC-ASH HILL           |Ash Hill, NC           |NOT ACCEPTABLE|-80.56 |null         |76511       |NC   |842            |28876493  |NA         |0.13 |-0.79|0.59 |STANDARD   |27007  |null           |
|ASHEBORO           |US     |false        |15228              |35.71|NA-US-NC-ASHEBORO           |Asheboro, NC           |PRIMARY       |-79.81 |null         |76512       |NC   |8355           |215474318 |NA         |0.14 |-0.79|0.58 |STANDARD   |27203  |null           |
+-------------------+-------+-------------+-------------------+-----+----------------------------+-----------------------+--------------+-------+-------------+------------+-----+---------------+----------+-----------+-----+-----+-----+-----------+-------+---------------+
only showing top 20 rows

Read JSON file from Multi line

In [76]:
multiline_df = spark.read.option("multiline", "true") \
.json("/multiline-zipcode.json")
multiline_df.show()

+-------------------+------------+-----+-----------+-------+
|               City|RecordNumber|State|ZipCodeType|Zipcode|
+-------------------+------------+-----+-----------+-------+
|PASEO COSTA DEL SUR|           2|   PR|   STANDARD|    704|
|       BDA SAN LUIS|          10|   PR|   STANDARD|    709|
+-------------------+------------+-----+-----------+-------+

Reading Multiple files at a time

In [77]:
df2 = spark.read.json(['/zipcode.json', '/multiline-zipcode.json'])
df2.show()

+-------------------+-------+-------------+-------------------+-----+--------------------+--------------------+--------------+-------+-------------+------------+-----+---------------+----------+-----------+-----+-----+-----+-----------+-------+---------------+
|               City|Country|Decommisioned|EstimatedPopulation|  Lat|            Location|        LocationText|  LocationType|   Long|        Notes|RecordNumber|State|TaxReturnsFiled|TotalWages|WorldRegion|Xaxis|Yaxis|Zaxis|ZipCodeType|Zipcode|_corrupt_record|
+-------------------+-------+-------------+-------------------+-----+--------------------+--------------------+--------------+-------+-------------+------------+-----+---------------+----------+-----------+-----+-----+-----+-----------+-------+---------------+
|        PARC PARQUE|     US|        false|               null|17.96|NA-US-PR-PARC PARQUE|     Parc Parque, PR|NOT ACCEPTABLE| -66.22|         null|           1|   PR|           null|      null|         NA| 0.38|-0.87|  0.3|   STANDARD|    704|           null|
|PASEO COSTA DEL SUR|     US|        false|               null|17.96|NA-US-PR-PASEO CO...|Paseo Costa Del S...|NOT ACCEPTABLE| -66.22|         null|           2|   PR|           null|      null|         NA| 0.38|-0.87|  0.3|   STANDARD|    704|           null|
|       BDA SAN LUIS|     US|        false|               null|18.14|NA-US-PR-BDA SAN ...|    Bda San Luis, PR|NOT ACCEPTABLE| -66.26|         null|          10|   PR|           null|      null|         NA| 0.38|-0.86| 0.31|   STANDARD|    709|           null|
|  CINGULAR WIRELESS|     US|        false|               null|32.72|NA-US-TX-CINGULAR...|Cingular Wireless...|NOT ACCEPTABLE| -97.31|         null|       61391|   TX|           null|      null|         NA| -0.1|-0.83| 0.54|     UNIQUE|  76166|           null|
|         FORT WORTH|     US|        false|               4053|32.75| NA-US-TX-FORT WORTH|      Fort Worth, TX|       PRIMARY| -97.33|         null|       61392|   TX|           2126| 122396986|         NA| -0.1|-0.83| 0.54|   STANDARD|  76177|           null|
|           FT WORTH|     US|        false|               4053|32.75|   NA-US-TX-FT WORTH|        Ft Worth, TX|    ACCEPTABLE| -97.33|         null|       61393|   TX|           2126| 122396986|         NA| -0.1|-0.83| 0.54|   STANDARD|  76177|           null|
|    URB EUGENE RICE|     US|        false|               null|17.96|NA-US-PR-URB EUGE...| Urb Eugene Rice, PR|NOT ACCEPTABLE| -66.22|         null|           4|   PR|           null|      null|         NA| 0.38|-0.87|  0.3|   STANDARD|    704|           null|
|               MESA|     US|        false|              26883|33.37|       NA-US-AZ-MESA|            Mesa, AZ|       PRIMARY|-111.64|no NWS data, |       39827|   AZ|          14962| 563792730|         NA| -0.3|-0.77| 0.55|   STANDARD|  85209|           null|
|               MESA|     US|        false|              25446|33.38|       NA-US-AZ-MESA|            Mesa, AZ|       PRIMARY|-111.84|         null|       39828|   AZ|          14374| 471000465|         NA|-0.31|-0.77| 0.55|   STANDARD|  85210|           null|
|           HILLIARD|     US|        false|               7443|30.69|   NA-US-FL-HILLIARD|        Hilliard, FL|       PRIMARY| -81.92|         null|       49345|   FL|           3922| 133112149|         NA| 0.12|-0.85| 0.51|   STANDARD|  32046|           null|
|             HOLDER|     US|        false|               null|28.96|     NA-US-FL-HOLDER|          Holder, FL|       PRIMARY| -82.41|         null|       49346|   FL|           null|      null|         NA| 0.11|-0.86| 0.48|     PO BOX|  34445|           null|
|               HOLT|     US|        false|               2190|30.72|       NA-US-FL-HOLT|            Holt, FL|       PRIMARY| -86.67|         null|       49347|   FL|           1207|  36395913|         NA| 0.04|-0.85| 0.51|   STANDARD|  32564|           null|
|          HOMOSASSA|     US|        false|               null|28.78|  NA-US-FL-HOMOSASSA|       Homosassa, FL|       PRIMARY| -82.61|         null|       49348|   FL|           null|      null|         NA| 0.11|-0.86| 0.48|     PO BOX|  34487|           null|
|       BDA SAN LUIS|     US|        false|               null|18.14|NA-US-PR-BDA SAN ...|    Bda San Luis, PR|NOT ACCEPTABLE| -66.26|         null|          10|   PR|           null|      null|         NA| 0.38|-0.86| 0.31|   STANDARD|    708|           null|
|      SECT LANAUSSE|     US|        false|               null|17.96|NA-US-PR-SECT LAN...|   Sect Lanausse, PR|NOT ACCEPTABLE| -66.22|         null|           3|   PR|           null|      null|         NA| 0.38|-0.87|  0.3|   STANDARD|    704|           null|
|      SPRING GARDEN|     US|        false|               null|33.97|NA-US-AL-SPRING G...|   Spring Garden, AL|       PRIMARY| -85.55|         null|       54354|   AL|           null|      null|         NA| 0.06|-0.82| 0.55|     PO BOX|  36275|           null|
|        SPRINGVILLE|     US|        false|               7845|33.77|NA-US-AL-SPRINGVILLE|     Springville, AL|       PRIMARY| -86.47|         null|       54355|   AL|           4046| 172127599|         NA| 0.05|-0.82| 0.55|   STANDARD|  35146|           null|
|        SPRUCE PINE|     US|        false|               1209|34.37|NA-US-AL-SPRUCE PINE|     Spruce Pine, AL|       PRIMARY| -87.69|         null|       54356|   AL|            610|  18525517|         NA| 0.03|-0.82| 0.56|   STANDARD|  35585|           null|
|           ASH HILL|     US|        false|               1666| 36.4|   NA-US-NC-ASH HILL|        Ash Hill, NC|NOT ACCEPTABLE| -80.56|         null|       76511|   NC|            842|  28876493|         NA| 0.13|-0.79| 0.59|   STANDARD|  27007|           null|
|           ASHEBORO|     US|        false|              15228|35.71|   NA-US-NC-ASHEBORO|        Asheboro, NC|       PRIMARY| -79.81|         null|       76512|   NC|           8355| 215474318|         NA| 0.14|-0.79| 0.58|   STANDARD|  27203|           null|
+-------------------+-------+-------------+-------------------+-----+--------------------+--------------------+--------------+-------+-------------+------------+-----+---------------+----------+-----------+-----+-----+-----+-----------+-------+---------------+
only showing top 20 rows

PySpark SQL also provides a way to read a JSON file by creating a temporary view directly from the reading file using spark.sqlContext.sql(“load JSON to temporary view”)

In [83]:

spark.sql("CREATE OR REPLACE TEMPORARY VIEW zipcode USING json OPTIONS" + 
      " (path '/zipcode.json')")
spark.sql("select * from zipcode").show()

+-------------------+-------+-------------+-------------------+-----+--------------------+--------------------+--------------+-------+-------------+------------+-----+---------------+----------+-----------+-----+-----+-----+-----------+-------+---------------+
|               City|Country|Decommisioned|EstimatedPopulation|  Lat|            Location|        LocationText|  LocationType|   Long|        Notes|RecordNumber|State|TaxReturnsFiled|TotalWages|WorldRegion|Xaxis|Yaxis|Zaxis|ZipCodeType|Zipcode|_corrupt_record|
+-------------------+-------+-------------+-------------------+-----+--------------------+--------------------+--------------+-------+-------------+------------+-----+---------------+----------+-----------+-----+-----+-----+-----------+-------+---------------+
|        PARC PARQUE|     US|        false|               null|17.96|NA-US-PR-PARC PARQUE|     Parc Parque, PR|NOT ACCEPTABLE| -66.22|         null|           1|   PR|           null|      null|         NA| 0.38|-0.87|  0.3|   STANDARD|    704|           null|
|PASEO COSTA DEL SUR|     US|        false|               null|17.96|NA-US-PR-PASEO CO...|Paseo Costa Del S...|NOT ACCEPTABLE| -66.22|         null|           2|   PR|           null|      null|         NA| 0.38|-0.87|  0.3|   STANDARD|    704|           null|
|       BDA SAN LUIS|     US|        false|               null|18.14|NA-US-PR-BDA SAN ...|    Bda San Luis, PR|NOT ACCEPTABLE| -66.26|         null|          10|   PR|           null|      null|         NA| 0.38|-0.86| 0.31|   STANDARD|    709|           null|
|  CINGULAR WIRELESS|     US|        false|               null|32.72|NA-US-TX-CINGULAR...|Cingular Wireless...|NOT ACCEPTABLE| -97.31|         null|       61391|   TX|           null|      null|         NA| -0.1|-0.83| 0.54|     UNIQUE|  76166|           null|
|         FORT WORTH|     US|        false|               4053|32.75| NA-US-TX-FORT WORTH|      Fort Worth, TX|       PRIMARY| -97.33|         null|       61392|   TX|           2126| 122396986|         NA| -0.1|-0.83| 0.54|   STANDARD|  76177|           null|
|           FT WORTH|     US|        false|               4053|32.75|   NA-US-TX-FT WORTH|        Ft Worth, TX|    ACCEPTABLE| -97.33|         null|       61393|   TX|           2126| 122396986|         NA| -0.1|-0.83| 0.54|   STANDARD|  76177|           null|
|    URB EUGENE RICE|     US|        false|               null|17.96|NA-US-PR-URB EUGE...| Urb Eugene Rice, PR|NOT ACCEPTABLE| -66.22|         null|           4|   PR|           null|      null|         NA| 0.38|-0.87|  0.3|   STANDARD|    704|           null|
|               MESA|     US|        false|              26883|33.37|       NA-US-AZ-MESA|            Mesa, AZ|       PRIMARY|-111.64|no NWS data, |       39827|   AZ|          14962| 563792730|         NA| -0.3|-0.77| 0.55|   STANDARD|  85209|           null|
|               MESA|     US|        false|              25446|33.38|       NA-US-AZ-MESA|            Mesa, AZ|       PRIMARY|-111.84|         null|       39828|   AZ|          14374| 471000465|         NA|-0.31|-0.77| 0.55|   STANDARD|  85210|           null|
|           HILLIARD|     US|        false|               7443|30.69|   NA-US-FL-HILLIARD|        Hilliard, FL|       PRIMARY| -81.92|         null|       49345|   FL|           3922| 133112149|         NA| 0.12|-0.85| 0.51|   STANDARD|  32046|           null|
|             HOLDER|     US|        false|               null|28.96|     NA-US-FL-HOLDER|          Holder, FL|       PRIMARY| -82.41|         null|       49346|   FL|           null|      null|         NA| 0.11|-0.86| 0.48|     PO BOX|  34445|           null|
|               HOLT|     US|        false|               2190|30.72|       NA-US-FL-HOLT|            Holt, FL|       PRIMARY| -86.67|         null|       49347|   FL|           1207|  36395913|         NA| 0.04|-0.85| 0.51|   STANDARD|  32564|           null|
|          HOMOSASSA|     US|        false|               null|28.78|  NA-US-FL-HOMOSASSA|       Homosassa, FL|       PRIMARY| -82.61|         null|       49348|   FL|           null|      null|         NA| 0.11|-0.86| 0.48|     PO BOX|  34487|           null|
|       BDA SAN LUIS|     US|        false|               null|18.14|NA-US-PR-BDA SAN ...|    Bda San Luis, PR|NOT ACCEPTABLE| -66.26|         null|          10|   PR|           null|      null|         NA| 0.38|-0.86| 0.31|   STANDARD|    708|           null|
|      SECT LANAUSSE|     US|        false|               null|17.96|NA-US-PR-SECT LAN...|   Sect Lanausse, PR|NOT ACCEPTABLE| -66.22|         null|           3|   PR|           null|      null|         NA| 0.38|-0.87|  0.3|   STANDARD|    704|           null|
|      SPRING GARDEN|     US|        false|               null|33.97|NA-US-AL-SPRING G...|   Spring Garden, AL|       PRIMARY| -85.55|         null|       54354|   AL|           null|      null|         NA| 0.06|-0.82| 0.55|     PO BOX|  36275|           null|
|        SPRINGVILLE|     US|        false|               7845|33.77|NA-US-AL-SPRINGVILLE|     Springville, AL|       PRIMARY| -86.47|         null|       54355|   AL|           4046| 172127599|         NA| 0.05|-0.82| 0.55|   STANDARD|  35146|           null|
|        SPRUCE PINE|     US|        false|               1209|34.37|NA-US-AL-SPRUCE PINE|     Spruce Pine, AL|       PRIMARY| -87.69|         null|       54356|   AL|            610|  18525517|         NA| 0.03|-0.82| 0.56|   STANDARD|  35585|           null|
|           ASH HILL|     US|        false|               1666| 36.4|   NA-US-NC-ASH HILL|        Ash Hill, NC|NOT ACCEPTABLE| -80.56|         null|       76511|   NC|            842|  28876493|         NA| 0.13|-0.79| 0.59|   STANDARD|  27007|           null|
|           ASHEBORO|     US|        false|              15228|35.71|   NA-US-NC-ASHEBORO|        Asheboro, NC|       PRIMARY| -79.81|         null|       76512|   NC|           8355| 215474318|         NA| 0.14|-0.79| 0.58|   STANDARD|  27203|           null|
+-------------------+-------+-------------+-------------------+-----+--------------------+--------------------+--------------+-------+-------------+------------+-----+---------------+----------+-----------+-----+-----+-----+-----------+-------+---------------+
only showing top 20 rows